body {
    margin: 0;
}

.header {
    display: flex;
    background-color: #1f2937;
}

.headerlogo {
    color: #f9faf8;
    font-weight: 800;
    font-size: 24px;
    flex: 1;
    text-align: left;
    padding: 10px;
    padding-left: 300px
}

.links {
    font-size: 18px;
    color: #e5e7eb;
    flex: 1;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.nav {
    display: flex;
    background-color: #1f2937;
}

.nav div {
    flex: 1;
}

.navinfo {
    font-size: 48px;
    font-weight: 1000px;
    color: #f9faf8;
    text-align: center;
    height: 600px;
    color: #f9faf8;
}




